<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllSet">
  <test thread-count="5" name="MailMyDream11">
    <classes>
      <class name="Dream11.IPL.MailDream11"/>
    </classes>
  </test> <!-- MailMyDream11 -->
</suite> <!-- AllSet -->
